/*  your css code here. If applicable */
#yellow{
	Background:yellow;
	border-width:1px;
	border-color:green;
}
#red{
	Background:red;
	border-width:1px;
	border-color:black;
}
#green{
	Background:green;
	border-width:1px;
	border-color:yello;
}